*{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

body{
    background-color: #fcf2e8;
}

section ul{
    background-color: rgb(0, 0, 0);
    height: 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

 section ul .mar{
    margin-left: 45rem;
}

section li{
    color: white;
    float: left;
    margin: 1.5rem 3rem;
    font-weight: bolder;

}

 section li:hover{
    color: cyan;
    cursor: pointer;
}

.box-container{
    background-color: rgb(162, 222, 162);
    margin: 2rem 2rem;
    border-radius: 1.5rem;
    position: relative;
    height: 20rem;
    width: 95%;
}

.box-container img{
   height: 15rem;
   width: 15rem;
   margin-top: 3rem ;
   margin-left: 3rem;
   border-radius: 50%;
}

.box-container h1{
    margin: -14rem 30rem;
}

.box-container p{
    margin: 15rem 30rem;
    width: 50%;
    font-weight: 400;
    
}

.button{
    background-color:orange;
    color: black;
    padding:0.5rem;
    margin-top: -100rem;
    text-decoration: none;
    position: relative;
    height: 2rem;
    width: 2rem;
}

.container {
    background-color:rgb(168, 165, 165);
    height: 30rem;
}

.container h3{
   
    padding-top: 10rem;
    margin-left: 8rem;
    margin-top: 2rem;
    font-size:x-large;
}
.container p{
    padding: 3rem;
    width: 30rem;
    font-weight: 400;
    margin-top: -8rem;
    margin-left: 5rem;
    padding-top: 9rem;

}
.container a{
    margin-left: 8rem;
    margin-top: 1rem;
    background-color: rgb(214, 141, 4);
    padding: 8px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.container img{
    height: 18rem;
    width: 35rem;
    margin-left: 40rem;
    margin-top: -20rem;
    border: 2px solid black;
}

.contain{
    background-color: cadetblue;
    height: 35rem;
}

.contain h1{
    text-align: center;
    padding-top: 5rem;
}
.contain .box{
    margin-top: 3rem;
    margin-left: 5rem;
    background-color: whitesmoke;
    box-shadow: 0 .3rem 1rem black;

    width: 20rem;
    height: 15rem;
    padding: 2rem;
}
.contain .box1{
    margin-top: -19rem;
    margin-left: 30rem;
    background-color: whitesmoke;
    box-shadow: 0 .3rem 1rem black;

    width: 20rem;
    height: 15rem;
    padding: 2rem;
}
.contain .box2{
    margin-top: -19rem;
    margin-left: 55rem;
    background-color: whitesmoke;
    box-shadow: 0 .3rem 1rem black;
    width: 20rem;
    height: 15rem;
    padding: 2rem;
}

.contain p{
    margin-top: 1rem;
    font-weight: 500;
}

.footer{
    background-color:rgb(149, 152, 149);
    height: 20rem;
}

.footer h2{
    color: rgb(0, 0, 0);
    display: block;
    margin-left: 10rem;
    padding-top: 4rem;
    font-weight: bolder;
}

.footer ol{
    margin-left: 10rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight:500;
    font-size: medium;

}

.footer .head2{
    padding-left: 20rem;
    margin-top: -9.5rem;
    font-weight: bolder;
}

.footer .con1{
    padding-left: 20rem;
}

.footer .head3{
    padding-left: 40rem;
    margin-top: -10.5rem;
    font-weight: bolder;
}

.footer .con2{
    padding-left: 40rem;
}




@media (max-width:2056px){
    section ul .mar{
        margin-left: 65rem;
    }
}

@media (max-width:1963px){
    section ul .mar{
        margin-left: 55rem;
    }
}

@media (max-width:1768px){
    section ul .mar{
        margin-left: 45rem;
    }

    .container img{
        size: 20rem;
    }
    
}

@media (max-width:1565px){
    section ul .mar{
        margin-left: 40rem;
    }
}

@media (max-width:1472px){
    section ul .mar{
        margin-left: 35rem;
    }
}

@media (max-width:1366px){
    section ul .mar{
        margin-left: 30rem;
    }
}

@media (max-width:1360px){
    section ul .mar{
        margin-left: 25rem;
    }
}

@media (max-width:1005px){
    section ul{
        width: 100%;
    }
}

@media (max-width:1250px){
    .box-container{
        position: relative;
        display: flex;
    }
}